{#
/**
 * baserCMS :  Based Website Development Project <https://basercms.net>
 * Copyright (c) NPO baser foundation <https://baserfoundation.org/>
 *
 * @copyright     Copyright (c) NPO baser foundation
 * @link          https://basercms.net baserCMS Project
 * @since         5.0.7
 * @license       https://basercms.net/license/index.html MIT License
 */
#}
{% set fields = Bake.filterFields(fields, schema, modelObject) %}
<table class="bca-form-table">
{% for field in fields %}
{%- if field not in primaryKey %}
{%- if keyFields[field] is defined %}
{%- set fieldData = Bake.columnData(field, schema) %}
{%- if fieldData.null %}
  <tr>
    <th class="bca-form-table__label">
      <?= $this->BcAdminForm->label('{{ field }}', __d('baser_core', '{{ field|humanize }}')) ?>
    </th>
    <td class="bca-form-table__input">
      <?= $this->BcAdminForm->control('{{ field }}', ['options' => ${{ keyFields[field] }}, 'empty' => true]) ?>
      <?= $this->BcAdminForm->error('{{ field }}') ?>
    </td>
  </tr>{{- "\n" }}
{%- else %}
  <tr>
    <th class="bca-form-table__label">
      <?= $this->BcAdminForm->label('{{ field }}', __d('baser_core', '{{ field|humanize }}')) ?>
    </th>
    <td class="bca-form-table__input">
      <?= $this->BcAdminForm->control('{{ field }}', ['options' => ${{ keyFields[field] }}]) ?>
      <?= $this->BcAdminForm->error('{{ field }}') ?>
    </td>
  </tr>{{- "\n" }}
{%- endif %}
{%- elseif field not in ['created', 'modified', 'updated'] %}
{%- set fieldData = Bake.columnData(field, schema) %}
{%- if fieldData.type in ['date', 'datetime', 'time'] and fieldData.null %}
  <tr>
    <th class="bca-form-table__label">
      <?= $this->BcAdminForm->label('{{ field }}', __d('baser_core', '{{ field|humanize }}')) ?>
    </th>
    <td class="bca-form-table__input">
      <?= $this->BcAdminForm->control('{{ field }}', ['empty' => true]) ?>
      <?= $this->BcAdminForm->error('{{ field }}') ?>
    </td>
  </tr>{{- "\n" }}
{%- else %}
  <tr>
    <th class="bca-form-table__label">
      <?= $this->BcAdminForm->label('{{ field }}', __d('baser_core', '{{ field|humanize }}')) ?>
    </th>
    <td class="bca-form-table__input">
      <?= $this->BcAdminForm->control('{{ field }}') ?>
      <?= $this->BcAdminForm->error('{{ field }}') ?>
    </td>
  </tr>{{- "\n" }}
{%- endif %}
{%- endif %}
{%- endif %}
{%- endfor %}
  <?= $this->BcAdminForm->dispatchAfterForm() ?>
</table>