{#
/**
 * baserCMS :  Based Website Development Project <https://basercms.net>
 * Copyright (c) NPO baser foundation <https://baserfoundation.org/>
 *
 * @copyright     Copyright (c) NPO baser foundation
 * @link          https://basercms.net baserCMS Project
 * @since         5.0.7
 * @license       https://basercms.net/license/index.html MIT License
 */
#}
{{ element('Bake.file_header', {
    namespace: ''
}) }}

/**
 * @var \BaserCore\View\BcAdminAppView $this
 * @var iterable<\{{ entityClass }}> ${{ pluralVar }}
 */
$this->BcAdmin->setTitle(__d('baser_core', '{{ pluralHumanName }} 一覧'));
$this->BcAdmin->addAdminMainBodyHeaderLinks([
  'url' => ['action' => 'add'],
  'title' => __d('baser_core', '新規登録'),
]);
$this->BcListTable->setColumnNumber({{ fields|length + 1 }});
//$this->BcAdmin->setHelp('{{ pluralVar }}_index');
//$this->BcAdmin->setSearch('{{ pluralVar }}_index');
?>


<div class="bca-data-list">
  <div class="bca-data-list__top">
    <div class="bca-data-list__sub">
      <?php $this->BcBaser->element('pagination') ?>
    </div>
  </div>

  <table class="bca-table-listup">
    <thead class="bca-table-listup__thead">
    <tr>
{% set fields = Bake.filterFields(fields, schema, modelObject, indexColumns, ['binary', 'text']) %}
{% set done = [] %}
{% for field in fields %}
      <th class="bca-table-listup__thead-th">
        <?= $this->Paginator->sort('{{ field }}', [
          'asc' => '<i class="bca-icon--asc"></i>' . __d('baser_core', '{{ field|humanize }}'),
          'desc' => '<i class="bca-icon--desc"></i>' . __d('baser_core', '{{ field|humanize }}')
          ], ['escape' => false, 'class' => 'btn-direction bca-table-listup__a']
        ) ?>
      </th>
{% endfor %}
      <th class="bca-table-listup__thead-th"><?= __d('baser_core', 'アクション') ?></th>
    </tr>
    </thead>
    <tbody class="bca-table-listup__tbody">
<?php if (!${{ pluralVar }}->isEmpty()): ?>
  <?php foreach(${{ pluralVar }} as $key => ${{ singularVar }}): ?>
      <tr id="Row<?= $key ?>">
{% for field in fields %}
{% set isKey = false %}
{% if associations.BelongsTo is defined %}
{% for alias, details in associations.BelongsTo %}
{% if field == details.foreignKey %}
{% set isKey = true %}
        <td class="bca-table-listup__tbody-td"><?= ${{ singularVar }}->has('{{ details.property }}') ? $this->Html->link(${{ singularVar }}->{{ details.property }}->{{ details.displayField }}, ['controller' => '{{ details.controller }}', 'action' => 'view', ${{ singularVar }}->{{ details.property }}->{{ details.primaryKey[0] }}]) : '' ?></td>
{% endif %}
{% endfor %}
{% endif %}
{% if isKey is not same as(true) %}
{% set columnData = Bake.columnData(field, schema) %}
{% if columnData.type not in ['integer', 'float', 'decimal', 'biginteger', 'smallinteger', 'tinyinteger'] %}
        <td class="bca-table-listup__tbody-td"><?= h(${{ singularVar }}->{{ field }}) ?></td>
{% elseif columnData.null %}
        <td class="bca-table-listup__tbody-td"><?= ${{ singularVar }}->{{ field }} === null ? '' : $this->Number->format(${{ singularVar }}->{{ field }}) ?></td>
{% else %}
        <td class="bca-table-listup__tbody-td"><?= $this->Number->format(${{ singularVar }}->{{ field }}) ?></td>
{% endif %}
{% endif %}
{% endfor %}
{% set pk = '$' ~ singularVar ~ '->' ~ primaryKey[0] %}
        <td class="bca-table-listup__tbody-td bca-table-listup__tbody-td--actions" style="width:15%">
          <?php if (!empty(${{ singularVar }}->status)) : ?>
            <!--<?= $this->BcAdminForm->postLink('', ['action' => 'unpublish', ${{ singularVar }}->id], [
              'title' => __d('baser_core', '非公開'),
              'class' => 'btn-unpublish bca-btn-icon',
              'data-bca-btn-type' => 'unpublish',
              'data-bca-btn-size' => 'lg'
            ]) ?>-->
            <?= $this->BcHtml->link('', ['action' => 'view', ${{ singularVar }}->id], [
              'title' => __d('baser_core', '確認'),
              'class' => 'bca-btn-icon',
              'data-bca-btn-type' => 'preview',
              'data-bca-btn-size' => 'lg'
            ]) ?>
          <?php else: ?>
            <!--<?= $this->BcAdminForm->postLink('', ['action' => 'publish', ${{ singularVar }}->id], [
              'title' => __d('baser_core', '公開'),
              'class' => 'btn-publish bca-btn-icon',
              'data-bca-btn-type' => 'publish',
              'data-bca-btn-size' => 'lg'
            ]) ?>-->
          <?php endif ?>
          <?= $this->BcHtml->link('', ['action' => 'edit', ${{ singularVar }}->id], [
              'title' => __d('baser_core', '編集'),
              'class' => ' bca-btn-icon',
              'data-bca-btn-type' => 'edit',
              'data-bca-btn-size' => 'lg'
          ]) ?>
        </td>
      </tr>
  <?php endforeach; ?>
<?php else: ?>
      <tr>
        <td colspan="<?= $this->BcListTable->getColumnNumber() ?>" class="bca-table-listup__tbody-td">
          <p class="no-data"><?= __d('baser_core', 'データがありません。') ?></p>
        </td>
      </tr>
<?php endif ?>
    </tbody>
  </table>
</div>